.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form-control {
  width: 250px;
  height: 20px;
  font-size: 20px;
  padding: 6px;
  margin-top: -10px;
}

input[type="text"]:focus {
  border: 3px solid #a120a7;
}
