.cardHolder {
  width: 300px; /* Set a fixed width for each card */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
}

.cardHolder:hover {
  background-color: #e4e4e4;
}

.cardHolder-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardHolder-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.cardHolder-link {
  display: block;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.cardHolder-link:hover {
  text-decoration: underline;
}

/* Your existing CSS classes */

.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 16px;
}

.searchBar {
  width: 350px;
  height: 20px;
  font-size: 20px;
  padding: 6px;
  margin-bottom: 20x;
}

input[type="text"]:focus {
  border: 3px solid #a120a7;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  align-content: start;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  margin: auto;
  background: rgb(7, 0, 113);
  background: linear-gradient(
    90deg,
    rgba(7, 0, 113, 0.7931547619047619) 0%,
    rgba(234, 234, 240, 0.8323704481792717) 39%,
    rgba(218, 224, 226, 0.9500175070028011) 100%
  );
}

.hero {
  width: 100vw;
}

.search-button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #6397d4;
  margin: 6px;
}

.clear-button {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #6398d4b0;
  margin: 6px;
}

.search-button:hover {
  background-color: #0069d9;
}
